<!-- <mat-form-field>
  <input type="text" (input)="term$.next($event.target.value)"
  placeholder="Enter Address" matInput
  [matAutocomplete]="auto"/>
  [(ngModel)]='listFilter' [matAutocomplete]="auto"/>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let address of filteredAddresses">
      <mat-option>
      {{ address.address | async}}
      {{ results$ | async | json }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->

<input type="text" (input)="term$.next($event.target.value)" />
{{ term$ | async }}
<pre>
  {{ results$ | async | json }}
</pre>
